*{
    margin: 0;
    padding: 0;
}

body{
    --accent-color: brown;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 16px;

    --padding-sm: 0.5rem;
    --padding-md: 1rem;
    --padding-lg: 3rem;

    --margin-sm: 0.5rem;
    --margin-md: 1rem;
    --margin-lg: 3rem;
    
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    display: flex;
    flex-direction: row;
}

main {
    border-top-left-radius: var(--border-radius-md);
    border-bottom-left-radius: var(--border-radius-md);
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-md);
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    flex: 1 0 auto;
}
