main {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
}

body, .calendar, .month-selector label {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: row; /* Ensure the month selector is to the left of the calendar */
}

.month-selector {
    display: flex;
    flex-direction: column;
    flex: 0 0 20%;
    margin-top: var(--margin-lg);
    height: fit-content;
    border-top-right-radius: var(--border-radius-lg);
    border-bottom-right-radius: var(--border-radius-lg);
    background-color: #E5E4E2;
}

.month-selector label {
    padding: var(--padding-md);
    font-size: 1.2rem;
    cursor: pointer;
    transition: all ease-in-out 0.1s;
}

.calendar {
    margin: var(--margin-md);
    flex: 1;
}

.calendar caption {
    order: 0;
    text-align: center;
    margin-top: var(--margin-md);
    margin-bottom: var(--margin-md);
    font-weight: 700;
    font-size: 40px;
    font-family: 'Montserrat', 'Helvetica Neue', Arial, sans-serif; /* Updated font stack */
}

.calendar-wrapper {
    width: 100%;
    border-collapse: collapse;
}

.calendar th {
    background-color: #A52A2A;
    font-weight: 700; /* Valid font-weight */
    font-size: large;
    color: white;
    padding-top: var(--padding-sm);
    padding-bottom: var(--padding-sm);
    text-align: center;
}

.calendar td {
    height: 4rem;
    width: 4rem;
    position: relative;
    vertical-align: middle;
    text-align: center;
}

.calendar td span {
    display: inline-block;
    vertical-align: middle;
    line-height: 4rem;
}

td:first-child, td:last-child {
    color: #ff4500;
}

h2 {
    margin: var(--margin-md);
    font-weight: 400;
}

.legend ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 2ch;
    align-items: center;
    background-color: #E5E4E2;
    border-radius: var(--border-radius-md);
    width: fit-content;
}

.legend li {
    padding-left: var(--padding-lg);
    padding-right: var(--padding-lg);
    padding-top: var(--padding-md);
    padding-bottom: var(--padding-md);
    display: flex;
    align-items: center;
    gap: 0.5ch;
    font-size: 1.2rem;
}

.legend li span {
    position: relative;
    z-index: 1;
    display: inline-block;
    font-weight: bold;
}

span.quiz {
    height: 2.5ch;
    width: 2.5ch;
    border-radius: var(--border-radius-lg);
    background: #ff4500;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 2.5ch;
    z-index: -1;
}

span.lab::after {
    content: "";
    height: 1ch;
    width: 1ch;
    background-color: #ff4500;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 2ch;
}

span.homework {
    border: 2px solid #ff4500;
    border-radius: var(--border-radius-md);
    padding: 0.5ch 1ch;
}

span.office-hours {
    border-bottom: 2px solid #ff4500;
}

td span p:nth-child(1) {
    font-size: large;
}

td span p:nth-child(2) {
    width: fit-content;
    font-size: small;
    color: black;
}

td span p.quiz {
    background-color: #CBC3E3;
}

td span p.lab {
    background-color: lightgoldenrodyellow;
}

td span p.homework {
    background-color: #90EE90;
}

td span p.office-hours {
    background-color: lightskyblue;
}
