body {
    font-family: 'Roboto', 'Helvetica Neue', Arial, sans-serif;
}

main {
    overflow: auto;
    padding: var(--padding-sm);
}

h1 {
    font-size: 2rem; /* Adjust within the 2rem to 2.5rem range as needed */
    font-weight: 700; /* Ensure the text is bold and stands out */
    text-align: center; /* Centers the caption horizontally */
    margin-top: var(--margin-md); /* Add some space above the caption */
    margin-bottom: var(--margin-md); /* Add some space below the caption */
}

.announcement {
    margin: var(--margin-md);
    padding: var(--padding-md);
    background: #FFC0CB;
    border: 1px solid red;
    border-radius: var(--border-radius-lg);
    color: red;
}

.charts {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#trend-chart-wrapper {
    width: 50%;
    margin: var(--margin-lg);
}

#course-chart-wrapper {
    width: 30%;
    margin: var(--margin-lg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

canvas {
    padding: 20px;
    background-color: #f9f9f9;
    border: 5px solid white;
}